html,
body {
  background-color: rgb(245, 247, 250);
  font-family: "Montserrat", sans-serif;
  color: #404e67;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */

.container {
  padding: 48px 15px 16px;
}

.title {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 16px;
}

.list-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: calc((100% - 90px) / 4);
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
}

.icon {
  font-size: 48px;
}

.txt-color {
  color: rgb(64, 78, 103);
}

.color-orange {
  color: rgb(255, 168, 125);
}

.color-green {
  color: rgb(22, 211, 154);
}

.color-pink {
  color: rgb(255, 117, 136);
}

.color-blue {
  color: rgb(0, 181, 184);
}

.txt-align-left {
  text-align: left;
}
.txt-align-right {
  text-align: right;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.label {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
}

.wrapper-box {
  display: flex;
  flex-direction: column-reverse;
}

.two-tone-line {
  width: 100%;
  display: flex;
  margin-top: 15px;
  height: 8px;
}

.tone-line-1 {
  height: 8px;
  border-radius: 5px 0 0 5px;
}

.tone-line-2 {
  width: 100%;
  border-radius: 0 5px 5px 0;
  height: 8px;
}

.bg-color-orange {
  width: 35%;
  background-color: rgb(255, 168, 125);
}

.bg-color-green {
  width: 60%;
  background-color: rgb(22, 211, 154);
}

.bg-color-pink {
  width: 40%;
  background-color: rgb(255, 117, 136);
}

.bg-color-blue {
  width: 80%;
  background-color: rgb(0, 181, 184);
}

.bg-color {
  background-color: rgb(238, 238, 238);
}

.item {
  width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  align-items: center;
  height: auto;
}

.box-item {
  display: flex;
  width: 100%;
  align-items: center;
}

.magin-left {
  margin-left: 20px;
}

.media-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.number {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

/* *********** bài 2 ************ */

.wrapper {
  width: 1600px;
  margin: auto;
  height: auto;
}

.padding4 {
  padding: 4px;
}

.card-list {
  background-color: rgb(223, 227, 230);
  width: calc((100% - 30px) / 5);
  border-radius: 4px;
  padding: 8px;
  height: max-content;
}

.card-item {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.card-description {
  color: rgb(23, 57, 77);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.card-tag {
  padding: 1.6px 8px;
  color: #fff;
  background-color: rgb(195, 119, 224);
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
  width: max-content;
}

.card-title {
  color: rgb(23, 57, 77);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 16px;
}

.card-icon {
  font-size: 18px;
  font-weight: 400;
}

.bg-color {
  background: #fff;
}

.bg-color-red {
  background: #eb5a46;
}

.bg-color-bluee {
  background: #00c2e0;
}

.bg-color-greenn {
  background: #61bd4f;
}

.bg-color-yellow {
  background: #f2d600;
}

.card-item-bottom {
  display: flex;
}

.icon-plus {
  color: rgb(121, 141, 153);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.title-add {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: rgb(121, 141, 153);
}

.img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}

.card-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}

.card-img {
  width: 100%;
}

.content {
  width: 1000px;
  margin: auto;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-main {
  width: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid #80deea;
  border-radius: 4px;
  overflow: hidden;
  margin: 5px;
}

.card-header {
  color: #0097a7;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #80deea;
  background-color: #e0f7fa;
  padding: 5px 10px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.icon-main {
  font-size: 36px;
  color: #0097a7;
  margin-bottom: 5px;
}

.main-description {
  color: #0097a7;
  font-size: 12px;
  text-align: center;
}

.all-color-red {
  background-color: #ffebee;
  border-color: #ef9a9a;
  color: #d32f2f;
}

.red-boder {
  border-color: #ef9a9a;
}

.red-color {
  color: #d32f2f;
}

.all-color-yello {
  background-color: #fff8e1;
  border-color: #ffe082;
  color: #ffa000;
}

.yello-boder {
  border-color: #ffe082;
}

.yello-color {
  color: #ffa000;
}
