.box {
	width: 50px;
	height: 50px;
	margin: 10px;
	display: inline-block;
}
.box1 {
	background-color: red;
}
.box2 {
	background-color: cyan;
}
.box3 {
	background-color: blue;
}
.box4 {
	background-color: purple;
}
.box5 {
	background-color: yellow;
}
.box6 {
	background-color: green;
}
.box7 {
	background-color:darkturquoise;
}
.box8 {
	background-color: dodgerblue;
}
/* .box9 { */
/* 	background-color: gray; */
/* } */
