section { padding: 0;}

.login {
	display: flex;
	gap: 60px;
}

.login > * {
	width: calc(( 100% / 2) - 60px);
}

.login .left {
	position: relative;
	height: auto;
	overflow: hidden;
}

.login .left img {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.login .right {
	padding: 100px 0;
	padding-right: 150px;
}
.login .right h2 {
	margin-bottom: 20px;
	font-family: worksans;
}

.login .right p {
	font-family: worksans;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /* 35.2px */
	text-transform: capitalize;
	align-self: stretch;
	margin-bottom: 40px;
}

.login .right .login-form{
	width: max-content;
}

.in {
	display: flex;
	height: 46px;
	padding: 16px 20px;
	align-items: center;
	gap: 12px;
	align-self: stretch;
	background-color: white;
	border-radius: 20px;
	position: relative;
}

.in * {
	border: 0;
	font-family: worksans;
}


.in img {
	fill: #BDBDBD;
}


.type-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#summit {
	width: 100%;
	height: 46px;
	border: 0;
	color: white;
	font-family: worksans;
	border-radius: 20px;
	background-color: var(--Btn);
	font-size: 16px;
	font-weight: 600;
	margin-top: 30px;
}
