html, body {
  background-color: rgb(245, 247, 250);
  font-family: "Montserrat", sans-serif;
  color: #404e67;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.container {
  padding: 48px 15px 16px;
}

.title {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 16px;
}

/* my code start here... */
i {
	font-size: 48px;
}

.color-blue {
  color: #02b6b9;
}

.color-orange {
  color: #ffa87d;
}

.color-green {
  color: #16d39a;
}

.color-pink {
  color: #ff7588;
}

.yellow-card *{
	background-color: #fff8e1;
	border-color: #ffe082;
	color: #ffa000;
}
.red-card *{
	background-color: #ffebee;
	border-color: #ef9a9a;
	color: #d32f2f;
}

.warp {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 30px;
}
.box {
  background-color: #fff;
	padding: 24px;
  flex-grow: 1;
}

.warp1 {
	margin-bottom: 2rem;
}

.warp1 .box {
  /* width: 20%; */
  width: calc((100% - 90px) / 4);
  background-color: #fff;
  flex-grow: 1;
}
.warp1 .box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
	flex-direction: row-reverse;
}
.left-content {
	text-align: right;
}
.reverse .left-content {
	text-align: left;
}
.warp1 .left-content h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.warp1 .left-content span {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.warp1 .bx {
  font-size: 48px;
}

.warp1 .reverse {
	flex-direction: row;
}

.warp1 .process {
  width: 100%;
  height: 10px;
  display: flex;
}

.warp1 .bar {
  border-radius: 25%;
  flex-grow: 1;
}


.warp2 .box {
	width: calc(( 100% - 30px)/2);
	display: flex;
}

.warp2 .reverse {
	flex-direction: row-reverse;
	flex-grow: 1;
	justify-content: space-between;
}

.warp2 .reverse .left-content {
	flex-direction: row-reverse;
	flex-grow: 0;
}

.warp2 .left-content {
	display: flex;
	text-align: left;
	justify-content: space-between;
	flex-grow: 1;
}
.warp2 .content {
	margin-left: 1.5rem;
}


/* bai2 */

.bai2 {
	width: 1600px;
	margin: auto;
	margin-bottom: 3rem;

}

.bai2 i {
	font-size: 18px;
}

.card {
	background-color: rgb(223, 227, 230);
	display: flex;
	flex-direction: column;
	width: calc(( 100% - (30px * 4) ) / 5);
	height: max-content;
}

.card .header {
	display: flex;
	justify-content:space-between;
	padding: 1rem 0.5rem;
}

.card-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bai2 .box {
	margin: 0.5rem;
	border-radius: 2.5% 2.5%;
	padding: 10px;
}

.tag-list{
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.tag {
	background-color: cyan;
	width: max-content;
	padding: 0.275rem;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}

.bai2 .content {
	margin: 0.5rem 0;
	font-size: 17px;
}


.bai2 .footer {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

.footer a {
	text-decoration: none;
	color: rgb(121, 141, 153);
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
}


/* bai3 */

.bai3 {
	display: flex;
	width: 600px;
	height: max-content;
	margin: auto;
}

.bai3 .row {
	display: flex;
	width: 100%;
	gap: 30px;
}

.bai3 .box {
	width: calc((100% - ( 30px * 2)) / 3);
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100px;
	padding: 0;
	border-collapse: collapse;
}

.bai3 .box .head-content,.main-content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
}
.bai3 .head-content {
	padding: 0.675rem 0;
	height: 20%;
}

.bai3 .main-content {
	flex-direction: column-reverse;
	display: flex;
	flex-grow: 1;
	border-top: 0;
}

.bai3 * h4,i,p {
	background-color: #00000000 !important;
}

.bai3 i {
	font-size: 36px;
}
.bai3 h4 {
	font-size: 12px;
}

.row:first-child .head-content {
	background-color: #e0f7fa;
	color: #0097a7;
	border-color: #80deea;
}

.row:first-child .main-content {
	color: #0097a7;
	background-color: rgb(245, 247, 250);
}
