* {
	margin: 0;
	box-sizing: border-box;
}
.container, .row, .box {
	display: flex;
	border: 1px solid;
}

.container{
	width: 400px;
	height: 400px;
	flex-wrap: wrap;
	flex-direction: column;
}

.box {
	width: 25%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.row {
	height: 25%;
	justify-content: center;
}

.container .row:first-child, .row:last-child {
	justify-content: space-between;
}

.bai2 {
	flex-direction: column-reverse;
}
.bai2 .row:last-child {
	justify-content: flex-end;
}
.bai2 .row:first-child {
	justify-content: flex-start;
}
.bai2 .box {
	width: 20%;
	order: 3;
}

.bunny {
	visibility: hidden;
}
.bai2 .row:nth-child(3) .box:last-child{
	order: 0;
}

.row .bunny:last-child{
	flex-grow: 2;
}



/* .bai2 .row:nth-child(3) */





